Django>=6.0,<6.1
Pillow>=10.0
feedparser>=6.0
icalendar>=6.0
python-dateutil>=2.9
APScheduler>=3.10
gunicorn>=21.2
whitenoise>=6.6
dj-database-url>=2.1
psycopg2-binary>=2.9
python-dotenv
psycopg2-binary
